<div class="container mt-3">
    <table class="table table-striped" *ngIf="selectedStock$ | async as selectedStocks">
        <thead class="table-success">
            <tr>
                <th>Stock ID</th>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let stock of selectedStocks">
                <td>{{stock.stock_id}}</td>
                <td>{{stock.date}}</td>
                <td>{{stock.value}}</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage }}
    </div>
    <a 
        *ngIf="selectedStock$ | async as selectedStocks" 
        class="btn btn-primary" 
        [href]="downloadJson" 
        download="download.json">Export as JSON</a>
</div>


