<table border="1" *ngIf="stocks$ | async as stocks">
    <tr>
        <th [appSort]="stocks" data-order="desc" data-name="id">ID</th>
        <th [appSort]="stocks" data-order="desc" data-name="stock">STOCK</th>
        <th [appSort]="stocks" data-order="desc" data-name="industry">INDUSTRY</th>
        <th [appSort]="stocks" data-order="desc" data-name="sector">SECTOR</th>
        <th [appSort]="stocks" data-order="desc" data-name="currency_code">CURENCY CODE</th>
    </tr>
    <tr>
        <input type="text" [(ngModel)]="searchValue" placeholder="Serach any fields" />
    </tr>
    <tr *ngFor="let stock of stocks | searchPipe: searchValue" 
        (click)="onSelected(stock.id)">
        <td>{{stock.id}}</td>
        <td>{{stock.stock}}</td>
        <td>{{stock.industry}}</td>
        <td>{{stock.sector}}</td>
        <td>{{stock.currency_code}}</td>
    </tr>
</table>

<div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>
